/* Heartbox — rofi */
* {
  background: #191413;
  background-alt: #3D2F2D;
  foreground: #E8E4DC;
  selected: #E5141A;
  active: #0888ED;
  urgent: #EA5638;
  silver: #C2C8CC;
}
window {
  background-color: @background;
  border: 2px;
  border-color: @silver;
}
mainbox { background-color: @background; }
inputbar {
  background-color: @background-alt;
  text-color: @foreground;
  padding: 8px;
}
listview { background-color: @background; }
element {
  background-color: @background;
  text-color: @foreground;
  padding: 6px;
}
element selected {
  background-color: @selected;
  text-color: @background;
}
