// Heartbox — gitui theme.ron
(
  selected_tab: Some("#E5141A"),
  command_fg: Some("#E8E4DC"),
  selection_bg: Some("#4B1006"),
  selection_fg: Some("#E8E4DC"),
  cmdbar_bg: Some("#3D2F2D"),
  cmdbar_extra_lines_bg: Some("#3D2F2D"),
  disabled_fg: Some("#7A656A"),
  diff_line_add: Some("#5A8A42"),
  diff_line_delete: Some("#E5141A"),
  diff_file_added: Some("#5A8A42"),
  diff_file_removed: Some("#E5141A"),
  diff_file_moved: Some("#6B4A58"),
  diff_file_modified: Some("#D4B84A"),
  commit_hash: Some("#0888ED"),
  commit_time: Some("#C2C8CC"),
  commit_author: Some("#C97A86"),
  danger_fg: Some("#E5141A"),
  push_gauge_bg: Some("#E5141A"),
  push_gauge_fg: Some("#191413"),
  tag_fg: Some("#D4B84A"),
  branch_fg: Some("#0888ED"),
)
