/* Heartbox — waybar */
* {
  border: none;
  font-family: monospace;
  font-size: 13px;
}
window#waybar {
  background: #191413;
  color: #E8E4DC;
  border-bottom: 2px solid #C2C8CC;
}
#workspaces button {
  padding: 0 8px;
  color: #7A656A;
  background: transparent;
}
#workspaces button.active {
  color: #191413;
  background: #E5141A;
}
#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray {
  padding: 0 10px;
  color: #E8E4DC;
}
#battery.warning { color: #EA5638; }
#battery.critical { color: #E5141A; }
#network.disconnected { color: #E5141A; }
